# Switch between 'development' and 'production'
APP_ENV=development

# Development Base URL (Local Laptop IPv4)
DEV_BASE_URL=http://192.168.0.14:3000

# Production Base URL (Render Hosted backend)
PROD_BASE_URL=https://stock-archery.onrender.com


